:root {
    --primary-color:  #dfeb30;
    --secondary-color: #9aeb30;
    --orange:#eba030;
    --tertiary-color:#18232c;
    --text-dark:#141b20;
    --text-medium:#29423f;
    --main-background: linear-gradient(0deg,rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    --black:black
  }



 