<!-- my-card.html -->
<template id="my-card-template">
    
    <style>
      .card {
        border: 1px solid #ccc;
        padding: 16px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        background-color: var(--primary-color);
        width: 20rem;
      }
      h2 {
        margin: 0 0 9px;
      }
    </style>
    <div class="card">
      <h2><slot name="title">Default Title</slot></h2>
      <p><slot name="content">Default Content</slot></p>
    </div>
  </template>
  