<!-- my-card.html -->
<template id="my-card-template">
  <style>
    .card {
      border: 1px solid #ccc;
      /* padding: 16px; */
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-family: Arial, sans-serif;

      width: 20rem;
      height: 25rem;
      transition: all 0.3s ease;
    }
    h2 {
      /* width: 100%; */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      /* 
      background-color: aliceblue; */
    }
    p {
      font-weight: 500;
    }
    .sinfo {
      padding: 16px;
      /* background-color: red; */
      margin-top: -30px;
    }
    .up {
      background-color: black;
      padding: 1rem;
      gap: 0.5rem;
      display: flex;
      flex-direction: column;
      height: 10rem;
      border-radius: 10px;
    }

    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    }
  </style>
  <div class="card">
    <!-- <div class="up">
      <slot name="image"><img src="" alt="default image" /></slot>
    </div> -->
    <slot name="image"><img src="" alt="default image" /></slot>
    <div class="sinfo">
      <h2><slot name="title">Default Content</slot></h2>
      <slot name="author"><p>Default Content</p></slot>
      <slot name="price"><p>Default Content</p></slot>
      <slot name="button"><button>Click</button></slot>
      <slot name="desc"><p>Default Content</p></slot>
    </div>

    <!-- </slot> -->
  </div>
</template>
