<!-- my-card.html -->
<template id="navbar-template">
  <style>
    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--orange);
      padding: 0.5rem;
    }
    .menu {
      /* width: 20rem; */
      display: flex;
      gap: 3rem;
    }
    a {
      text-decoration: none;
      color: black;
    }
    h2 {
      margin: 0 0 9px;
    }
  </style>
  <div class="navbar">
    <div class="logo-holder">
      <h2>Book Nest</h2>
    </div>
    <div class="menu">
      <div>
        <a href="http://localhost/Project/client/pages/home.html">Home</a>
      </div>
      <div>
        <a href="http://localhost/Project/client/pages/cart.html">Cart</a>
      </div>
      <div>
        <a href="http://localhost/Project/client/pages/mybooks.html"
          >My Books</a
        >
      </div>
    </div>
  </div>
</template>
