<!-- my-card.html -->
<template id="navbar-template">
    
    <style>
      .navbar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--orange);
        padding: 0.5rem;
      }
      .menu{
        
        /* width: 20rem; */
        display: flex;
        gap: 3rem;
      }
      a{
        text-decoration: none;
      }
      h2 {
        margin: 0 0 9px;
      }
    </style>
    <div class="navbar">
    <div  class="logo-holder">
        <h2>Book Nest</h2>
    </div>
    <div class="menu">
          <div><a href="">Home</a></div>
          <div><a href="">Cart</a></div>
          <div><a href="">My Books</a></div>
          <div><a href="communities.html">Communities</a></div>
    </div>
    </div>
  </template>